:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-blue: #0097B2;
  --base-red: #FF3131;
  --base-green: #00BF63;
  --base-yellow: #FFBD59;
  --dark-blue: #07193A;
  --light-blue: #B1EAF4;
  --light-gray: #CDCDCD;
}
