@import './reset.css';
@import './design-tokens/design-tokens.css';
@import './modal.css';

body {
  height: 100vh;
  font-size: 16px;
  --note-width: 150px;
  --text-area-height: 150px;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    height: 3rem;
    background-color: var(--clr-primary);
    color: var(--white);

    > h1 {
      font-size: 1.6rem;
    }
  }
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  color: var(--white);
  border: 1px solid transparent;
  margin-right: 1rem;
}

.btn-primary:hover {
  border-color: var(--white);
}

.btn-user {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-secondary);
  margin-right: 1rem;
}

main {
  height: calc(100% - 3rem);
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.section {
  display: grid;
  grid-template-columns: 2.125rem 1fr;
}

.section__title__wrapper {
  align-content: end;
  padding: 0.3rem 0.6rem;
}

.section-board > .section__title__wrapper {
  background-color: var(--clr-secondary);
}

.section__title {
  text-wrap: nowrap;
  transform: rotate(-90deg);
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.content-wrapper {
  border: 5px dotted var(--clr-tertiary);
  border-radius: 1rem;
}

.retro-category {
  display: flex;
  flex-direction: column;
}

.retro-category__title {
  display: flex;
  align-items: center;
  height: 2rem;

  > h3 {
    margin-left: 0.3rem;
  }
}

.retro-category__content {
  padding: 0.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--note-width));
  grid-template-rows: repeat(auto-fit, var(--note-width));
  gap: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.note {
  padding: 0.3rem;
  font-weight: bold;
  position: relative;
  aspect-ratio: 1/1;
}

.note-text {
  word-break: break-word;
}

.note-danger {
  background-color: var(--clr-bg-danger);
}

.note-success {
  background-color: var(--clr-bg-success);
}

.note-info {
  background-color: var(--clr-bg-keep);
}

.note-warning {
  background-color: var(--clr-bg-improve);
}

.note-in-edit-mode {
  opacity: 0.5;

  & > .note-actions > button {
    cursor: not-allowed;
  }
}

.note-actions {
  position: absolute;
  bottom: -0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.3rem;
}

.btn-round {
  color: var(--white);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-round > svg {
  pointer-events: none;
}

.delete {
  background-color: var(--base-red);
}

.edit {
  background-color: var(--base-yellow);
}

.section-workspace > .section__title__wrapper {
  color: var(--white);
  background-color: var(--clr-primary);
}

.notes-toolbar {
  display: flex;
  flex-direction: column;
  grid-column: 3 span;
  padding: 1rem;
  overflow: hidden;
}

.notes-toolbar > button {
  display: block;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.notes-toolbar__items {
  display: flex;
  gap: 1rem;

  > div {
    display: flex;
    gap: 1rem;
    overflow: auto hidden;
    flex-wrap: nowrap;
  }

  .note {
    width: var(--note-width);
    height: var(--note-width);
  }
}

.note-placeholder {
  border: 5px dotted var(--black);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.note-placeholder > button {
  font-size: 5rem;
  width: 100%;
  font-weight: 100;
}

.note-form {
  padding: 0.3rem;
  position: relative;
}

.note-form__categories {
  border: none;
}

.note-form__textarea {
  margin-top: 0.6rem;
  border: none;
  width: 100%;
  height: var(--text-area-height);
}

.note-form__submit {
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
}

.note-form {
  .note-form__categories {
    > label {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 2px 5px;
    }
    input[type='radio'] {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .note-form__submit * {
    display: inline-block;
  }
}

.icon {
  &.icon-drop {
    color: var(--clr-danger);
  }
  &.icon-keep {
    color: var(--clr-info);
  }
  &.icon-improve {
    color: var(--clr-warning);
  }
  &.icon-add {
    color: var(--clr-success);
  }
  &.icon-xl {
    width: 22px;
    height: 22px;
  }
}

.radio-icon > input {
  padding: 5px;
}

.radio-icon:hover {
  opacity: 0.5;
}

.radio-icon:has(input:checked) {
  border: 2px solid #04d9ff;
}

button > span {
  padding-left: 0.3rem;
}
