@import './reset.css';
@import '../style.css';
@import './design_tokens.css';

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
  "header header"
  "side main";
}

header {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-main);
  color: white;
  grid-area: header;
}

.headerTitle {
  font-size: 1.4rem;
}

aside {
  height: 100%;
  width: 100%;
  grid-area: side;
  background-color: var(--header-secondary);
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.retroBoardSection {
  background-color: var(--header-secondary);
  width: 3.75rem;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.retroTitle {
  transform: rotate(-90deg);
  width: 40px;
  white-space: nowrap;
}

.myNotesSection {
  background-color: var(--header-main);
  width: 3.75rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.notesTitle {
  transform: rotate(-90deg);
  width: 40px;
  white-space: nowrap;
}

.main {
  grid-area: main;
  height: 100%;
  padding: 3rem 2rem 2rem 3rem;
}

.mainLayout {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas: 
  "drop add keep improve"
  "store store store workspace";
}

.noteSection {
  position: relative;
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  height: 100%;
}

.dropSection {
  grid-area: drop;
}

.addSection {
  grid-area: add;
}

.keepSection {
  grid-area: keep;
}

.improveSection {
  grid-area: improve;
}

.sectionHeading {
  position: absolute;
  top: -2.4rem;
}

.dropHeading {
  color: var(--drop-note-color);
}

.addHeading {
  color: var(--add-note-color);
}

.keepHeading {
  color: var(--keep-note-color);
}

.improveHeading {
  color: var(--improve-note-color);
}

.noteStore {
  grid-area: store;
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.workspace {
  grid-area: workspace;
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

