@import './reset.css';
@import '../style.css';
@import './design_tokens.css';

body {
  height: 100vh;
}

header {
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-main);
  color: white;
  grid-area: header;
}

.headerTitle {
  font-size: 1.4rem;
}

main {
  height: calc(100% - 60px);
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
  "retroNotes"
  "myNotes";
}

.retroNotes {
  grid-area: retroNotes;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 2rem;
}

.notesAside {
  height: 100%;
  width: 60px;
  background-color: var(--header-secondary);
  width: 3.75rem;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

 .noteSectionTitle {
    transform: rotate(-90deg);
    width: 40px;
    white-space: nowrap;
  }
}

.notesSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem 2rem 2rem 2rem;
}

.noteColumn {
  position: relative;
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  height: 100%;
}

.myNotes {
  grid-area: myNotes;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 2rem;
}

.myAside {
  background-color: var(--header-main);
  width: 3.75rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .mySectionTitle {
    transform: rotate(-90deg);
    width: 40px;
    white-space: nowrap;
  }
}

.workspaceSection {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 2rem;
  padding: 0rem 2rem 2rem 2rem;
}

.noteStore {
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
  
.workspace {
  border: 5px dotted var(--border-color);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

