@import './reset.css';
@import '../style.css';
@import './design_tokens.css';

.bodyLayout {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
  "header header"
  "side main";
}

.header {
  height: 60px;
  background-color: var(--header-main);
  color: white;
  grid-area: header;
}

.side {
  height: 100%;
  grid-area: side;
  background-color: var(--header-secondary);
}

.main {
  grid-area: main;
  height: 100%;
  padding: 2rem;
}

.mainLayout {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas: 
  "drop add keep improve"
  "store store store workspace";
}

.dropSection {
  grid-area: drop;
  background-color: var(--drop-note-color);
  border: 5px dotted var(--border-color);
  height: 100%;
}

.addSection {
  grid-area: add;
  background-color: var(--add-note-color);
  border: 5px dotted var(--border-color);
  height: 100%;
}

.keepSection {
  grid-area: keep;
  background-color: var(--keep-note-color);
  border: 5px dotted var(--border-color);
  height: 100%;
}

.improveSection {
  grid-area: improve;
  background-color: var(--improve-note-color);
  border: 5px dotted var(--border-color);
  height: 100%;
}

.noteStore {
  grid-area: store;
  border: 5px dotted var(--border-color);
  width: 100%;
  height: 100%;
}

.workspace {
  grid-area: workspace;
  border: 5px dotted var(--border-color);
  width: 100%;
  height: 100%;
}

